
<h1><%= @teacher.name %></h1>

<p>age: <%= @teacher.age %></p>
<p>stress level: <%= @teacher.stress_level %></p>
<%= image_tag @teacher.image_url %>

<p><%= link_to 'Teachers index', teachers_path %></p>

<p><%= link_to "[Edit]", edit_teacher_path(@teacher.id) %></p>
<p><%= link_to "[Delete]", teacher_path(@teacher.id), method: :delete, data: { confirm: "Are you sure?"} %></p>
